extends layout

block content
  h1= title

  - var image_names = ["public\images\dale_carnegie.webp", "public\images\Dan_Brown.jpg", "public\images\J._K._Rowling.jpg", "public\images\Paulo.jpg", "public\images\shakespeare.webp"]
  - for (let j = 0; j < 3; j++)
    - let rand = Math.floor(Math.random() * 5)
    img(src=`/images/${image_names[rand]}`, alt=`${rand}`, height="300px", width="300px")
